## Task 1

### Q1. Create three variables in a single line and assign values to them in such a manner that each one of them belongs to a different data type.

In [1]:
(a, b, c) = (1, 2.01, 'string')

In [2]:
a

1

In [3]:
b

2.01

In [4]:
c

'string'

### Q2. Create a variable of type complex and swap it with another variable of type integer.

In [5]:
a = 2 + 3j

In [6]:
a

(2+3j)

In [7]:
type(a)

complex

In [8]:
b = 7

In [9]:
b

7

In [10]:
type(b)

int

In [11]:
a = b

In [12]:
a

7

In [13]:
type(a)

int

### Q3. Swap two numbers using a third variable and do the same task without using any third variable.

In [14]:
a, b = 4, 8

In [15]:
a

4

In [16]:
b

8

In [17]:
c = a
a = b
b = c

In [18]:
a

8

In [19]:
b

4

In [20]:
a, b = 5, 7

In [21]:
a

5

In [22]:
b

7

In [23]:
a = a + b
b = a - b
a = a - b

In [24]:
a

7

In [25]:
b

5

### Q4. Write a program that takes input from the user and prints it using both Python 2.x and Python 3.x Version.

In [26]:
x = input('Enter a value: ')
print(x)

Enter a value: 6.7
6.7

In [27]:
# For Python 2.x: x = raw_input('Enter a value: ') --> print str(x)

### Q5. Write a program to complete the task given below:
### Ask users to enter any 2 numbers in between 1-10 , add the two numbers and keep the sum in another variable called z. Add 30 to z and store the output in variable result and print result as the final output.

In [35]:
x, y = input('Enter any 2 numbers between 1-10: ').split()
x, y = int(x), int(y)
z = x + y
result = 30 + z
print('The variable result = ', result)

Enter any 2 numbers between 1-10: 3 8
The variable result =  41

### Q6. Write a program to check the data type of the entered values.

In [38]:
x = eval(input('Enter a value: '))
print('The data type of input value is: ', type(x))

Enter a value: 6
The data type of input value is:  <class 'int'>

In [39]:
x = eval(input('Enter a value: '))
print('The data type of input value is: ', type(x))

Enter a value: 4.5
The data type of input value is:  <class 'float'>

In [40]:
x = eval(input('Enter a value: '))
print('The data type of input value is: ', type(x))

Enter a value: 'string'
The data type of input value is:  <class 'str'>

### Q7. Create Variables using formats such as Upper CamelCase, Lower CamelCase, SnakeCase and UPPERCASE.

In [41]:
a = 'ThisIsAnExampleOfUpperCamelCase'
b = 'thisIsAnExampleOfLowerCamelCase'
c = 'this_is_an_example_of_snake_case'
d = 'THIS IS AN EXAMPLE OF UPPER CASE'

### Q8. If one data type value is assigned to ‘a’ variable and then a different data type value is assigned to ‘a’ again. Will it change the value? If Yes then Why?

### Answer: It depends. For example if the data type of 'a' is int or float or complex and we convert it to string using str function then the data type of 'a' will be converted to a string. However, if we pass a string value to a string variable and try to convert that into int, float, or complex then that will throw an error.