## Task 3

### Q1. Create a list of 10 elements of four different data types like int, string, complex and float.

In [1]:
i = [10, 15, 30]
f = [2.5, 4.6, 8.134]
s = ['four', 'six']
c = [1+2j, 4.8j]
l1 = i + f + s + c

In [2]:
l1

[10, 15, 30, 2.5, 4.6, 8.134, 'four', 'six', (1+2j), 4.8j]

In [4]:
type(c[1])

complex

### Q2. Create a list of size 5 and execute the slicing structure.

In [5]:
l2 = [1,3,5,2,4]

In [6]:
l2[2:4]

[5, 2]

In [7]:
l2[-2:]

[2, 4]

In [8]:
l2[:3]

[1, 3, 5]

In [9]:
l2[1:4]

[3, 5, 2]

### Q3. Write a program to get the sum and multiply of all the items in a given list.

In [10]:
l2

[1, 3, 5, 2, 4]

In [11]:
sum(l2)

15

In [12]:
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x 
    return result

In [13]:
multiplyList(l2)

120

### Q4. Find the largest and smallest number from a given list.

In [14]:
l2

[1, 3, 5, 2, 4]

In [15]:
max(l2)

5

In [16]:
min(l2)

1

### Q5. Create a new list which contains the specified numbers after removing the even numbers from a predefined list.

In [39]:
l1 = [1,3,4,5,2]

In [40]:
l2 = l1.copy()

In [41]:
l2

[1, 3, 4, 5, 2]

In [43]:
def remove_even(list):
    for i in list[:]:
        if i%2==0:
            list.remove(i)
    return(list)

In [44]:
l3 = remove_even(l2)

In [45]:
l3

[1, 3, 5]

In [46]:
l1

[1, 3, 4, 5, 2]

In [47]:
l4 = list(filter(lambda x: x%2!=0, l1))

In [48]:
l4

[1, 3, 5]

In [49]:
l1

[1, 3, 4, 5, 2]

### Q6. Create a list of elements such that it contains the squares of the first and last 5 elements between 1 and 30 (both included).

In [50]:
l1

[1, 3, 4, 5, 2]

In [51]:
l2 = list(map(lambda x: x**2, l1))

In [52]:
l2

[1, 9, 16, 25, 4]

### Q7. Write a program to replace the last element in a list with another list.

In [62]:
list1 = [1,3,5,7,9,10]

In [63]:
list2 = [2,4,6,8]

In [64]:
list1.pop()

10

In [66]:
list1.extend(list2)

In [68]:
list1

[1, 3, 5, 7, 9, 2, 4, 6, 8]

### Q8. Create a new dictionary by concatenating the following two dictionaries:

In [69]:
a = {1:10, 2:20}

In [70]:
b = {3:30, 4:40}

In [71]:
a.update(b)

In [72]:
a

{1: 10, 2: 20, 3: 30, 4: 40}

### Q9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1 and n(both 1 and n included).

In [73]:
n = int(input('Enter the number of elements in the dictionary: '))
d = dict()
for i in range(1, n+1):
    d[i] = i**2
print(d)

Enter the number of elements in the dictionary: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Q10. Write a program which accepts a sequence of comma-separated numbers from console and generates a list and a tuple which contains every number in the form of string.

In [87]:
def parsing(list):
    string  = str(list)
    my_list = string.split(',')
    my_tuple = tuple(my_list)
    print(my_list, my_tuple)

In [88]:
c_list = 34,67,55,33,12,98

In [89]:
parsing(c_list)

['(34', ' 67', ' 55', ' 33', ' 12', ' 98)'] ('(34', ' 67', ' 55', ' 33', ' 12', ' 98)')